@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(239, 249, 249);
}

.btn-primary{
  @apply  flex w-full text-center justify-center px-6 py-2 font-semibold select-none rounded-md transition duration-200 ease-in-out text-slate-200 bg-slate-700 hover:bg-slate-600 active:bg-slate-700;
}
.btn-primary:disabled{
  @apply text-slate-400 bg-slate-200 cursor-not-allowed;
}

.btn-outlined{
  @apply flex-1 px-6 py-2 font-semibold select-none rounded-md transition duration-200 ease-in-out text-slate-700 border-2 border-slate-500 bg-transparent hover:bg-slate-200 active:bg-slate-300;
}

